*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #262626;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  list-style: none;
  max-height: 100vh;
  letter-spacing: 1px;
  user-select: none;
}
::selection{
  background-color: #FCC15D;
}
body{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F1F1F9;
  height: 100vh;
}
nav{
  z-index: 6;
  padding: 10px 0;
  display: flex;
  background-color: #f1f1f9;
}
.container{
  width: 100%;
  padding: 0 40px;
  max-width: 1242px;
  margin: 0 auto;
  position: relative;
}
ul a{
  cursor: pointer;
  font-weight: 800;
  font-size: 19px;
  transition: .2s ease-out;
}
ul a:hover{
  background: #FCC15D;
}
ul a.activea{
  background: #FCC15D;
}
.nav-links{
  display: flex;

}
.nav-links li{
  margin: 20px;
}
.li{
  display: inline-block;
}
.holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f9;
  z-index: 10;
}
.text .wd{
  font-size: 60px;
  font-weight: 800;
}
p{
  font-size: 22px;
  width: 80%;
}
.container2{
 height: 80vh;
 display: flex;
 overflow-y: auto;
 overflow-x: hidden;
}
.display{
  width: 100%;
  padding: 0 40px;
  max-width: 1242px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 70vh;
}
.d3d{
  margin: auto;
  width: 780px;
  height: 350px;
  border-radius: 20px;
  transform: perspective(520px);
  transform-style: preserve-3d;
  display: flex;
  transition: .2s ease-out;
  cursor: pointer;
}
.homepage{
}
.homepage-ut{
  transform: scale(0.8);
  opacity: 0;
}
.contentm{
  display: flex;
  height: 100%;
  width: 100%;
}
.d3d:hover{
  background: #F9F9FB;
  box-shadow: #E5E5E7 0 0 10px;
}
.d3d, .text:active{
  transform: scale(0.99);
}
.text{
  width: 90%;
  height: auto;
  transform: translateZ(20px) scaleY(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  transition: .1s ease-out;
}
.line{
  border-radius: 2px;
  height: 4px;
  width: 80%;
  background: #FD5052;
}
span{
  font-weight: 800;
}
.wd,  p{
  margin: 10px;
}
.nav-links{
  justify-content: space-around;
  display: flex;
  transform: translateX(0%);
}
.burger div{
  width: 27px;
  height: 3px;
  background-color: #262626;
  margin: 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.burger{
  display: none;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  padding: 10px 0;
  height: 10vh;
}
.social{
  display: flex;
}
.ull{
  display: inline-flex;
}
.container3{
  width: 100%;
  padding: 0 40px;
  max-width: 1242px;
  position: relative;
  align-items: center;
  margin: 0 auto;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 auto;

}
[data-tab-content]{
  display: none;
  animation: animation1 ease .5s;

}
.active[data-tab-content]{
  display: block;
}
@keyframes animation1{
  from {
    opacity: 0;
    transform: scale(0.90) rotateX(20deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pic img{
  background-size: cover;
  border-radius: 20px;
  box-shadow: #E5E5E7 0 0 10px;
}
.pholder,.aholder, .ccontainer, .pcontainer, .containerca{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.brief{
  background-color: #F9F9FB;
  height: 350px;
  border-radius: 20px;
  box-shadow: #E5E5E7 0 0 10px;
  width: 800px;
}
.brief p{
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.pic img{
  width: 300px ;
}
 .demoli img{
   width: 30px;
   margin: 0 10px;
 }
 .demo li {
   display: flex;
   margin: 30px;
   align-items: center;
 }
.aholder div{
  margin: 20px;
}
